body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1d2434; /* Set background color as needed */
}

.splash-screen img {
    width: 150px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    opacity: 0; /* Start with 0 opacity */
    animation: fadeIn 1.5s forwards; /* Fade-in animation */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
